<div class="overlay">
	<div class="container resume">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<h2>Richard Hendricks</h2>
			<h3>{{ site.subtitle | remove: "| Data Analyst"}}</h3>

			{% for resume in site.data.resume %}
			{% assign items = resume %}
			<div class="col-xs-3 resume-category">
				<p class="rheading">{{ resume[0]}}</p>
			</div>
			<div class="col-xs-9 resume-category">
				{% for categories in resume[1]%}
				<div class="col-xs-4">
					<strong>{{categories[0]}}</strong>
				</div>
				<div class="col-xs-8">
					<p>{{categories[1]}}</p>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
