<!-- overlay page to display the resume upon button click -->
<div class="overlay">
	<div class="container resume">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
		{% for category in site.data.resume %}

				{% if category[0] == 'title' %}

					{% for title in category[1] %}
						{%if title[1] == 'Ali Raza'%}
							<h2>{{title[1]}}</h2>
						{%elsif title[1] == 'Full Stack Developer'%}
							<h3>{{title[1]}}</h3>
						{% else %}
						{% endif %}
					{% endfor %}

				{%elsif category[0] != 'Work Experience'%}
					<div class="col-xs-3 outer-left">
						<p>{{ category[0] }}</p>
					</div>
					<div class="col-xs-9 outer-right">
						{% for subcategory in category[1] %}
						<div class="col-xs-12 col-md-4 inner-left">
							<p>{{subcategory[0]}}</p>
						</div>
						<div class="col-xs-12 col-md-8 inner-right">
							<p>{{subcategory[1]}}</p>
						</div>
						{% endfor %}
					</div>

				{% else %}
					<div class="col-xs-3">
						<p>{{category[0] }}</p>
					</div>
					<div class="col-xs-9 desc">
						{% for experience in category[1]%}
						<p>{{experience[0]}} {{experience[1]}}</p>
						{% endfor %}
					</div>
				{% endif %}

		{% endfor %}
		</div>
	</div>
</div>
