// about page styling

#pageBody
  // background: #F3F7F8
  height: 2000px

.jumbotron
  height: 92vh
  width: 100%
  background: 
    image: linear-gradient(lightblue, transparent 60%), linear-gradient(0deg, #FFF, transparent 90%), url(/assets/img/hero3.jpg)
    color: lightgray
    repeat: no-repeat
    size: conver
    position: center
    attachment: fixed

  text-align: center

  h1, h2
    font-family: $open-sans
    font-weight: 300

  h1
    margin-top: 200px
  
  h2
    padding: 5px
    font-size: 1.5em
    margin-top: 10px

  img
    width: 50px
    margin-top: 100px
