// about page styling

#pageBody
  background: #F3F7F8
  height: 2000px

.jumbotron
  height: 600px
  background:
    image: url(http://riyadhprayertimes.com/wallpapers/kaabah_wallpaper.jpg)
    size: contain
    repeat: no-repeat