
// @media print
//
// 	.main, label
// 		display: none
//
// 	.overlay
// 		padding: 0px
// 		.container
// 			padding: 0px
// 			margin: 0px
// 			min-width: 8.5in
// 			height: 11in
// 			> .col-md-10
// 				border: none
// 				margin: 0
//
// 				p
					font-size: 1.3em

@media print

	h1
		font-size: 24pt
	h2
		font-size: 14pt
	.main,
	label
		display: none

	.overlay
		padding: 0
		margin: 0
		min-width: 8.5in

	.resume
		padding: 0
		> div
			border: none
			margin-top: 0px
			margin-bottom: 0px

			h2
				font-size: 28pt
			h3
				font-size: 14pt

@media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-min)
	// ----- Home Page Styling
	.main
		padding: 0 0px


@media screen and (min-width: $screen-small-min) and (max-width: 991px)
	// ------ Home Page styling
	.main
		padding: 0px 125px


@media screen and (max-width: $screen-small-min)

	// ------ Home page styling
	.hamburger
		right: 0px
	.main
		padding: 20px

		.canvas

			> div[class^='col']:nth-child(1)
				border: none
				min-height: 20px

		.title
			text-align: center

		.content
			line-height: 1.5em
			font-size: 1.2em

		.row
			margin-top: 0px
			text-align: center
			> div
				padding: 5px


	input[type="checkbox"]

		+ label
			right: 30px
