// Navigation

#logo
  height: 50px
  width: 50px
  border-radius: 100%
  overflow: hidden
  float: left
  position: relative
  img
    height: 130%
    width: 130%
    position: relative
    right: 10px

.navbar-default
  height: 71px
  font-family: $roboto-slab
  font-weight: light
  background: 
    color: #fff
  border-radius: 0
  border: none
  border-bottom: 1px solid lightgray
  border-color: #E7E7E7
  position: relative
  margin-bottom: 0px

  .container
    background: #fff
    height: inherit
    border-bottom: inherit


#logo, .navbar-right
  margin: 10px 0


.dropdown-menu
  position: absolute


button.navbar-toggle
  margin-top: 20px
  border-radius: 0
  border: none
  &:hover, &:active, &:focus
    background: none !important

.navbar-brand
  font-family: $open-sans
  

  h1
    font-size: 1.2em
    margin-left: 15px
    color: $heading-color
    font-weight: 300

  h2
    font-size: .7em
    margin-left: 15px
    color: $heading-color
    font-weight: 300

.navbar-collapse
  border: none
  background: #fff