
.navbar-default
  -webkit-font-smoothing: antialiased
  background-color: $transparent
  margin-bottom: 0px
  padding:
    top: 40px
    bottom: 40px
  border:
    color: $transparent
  transition: all .3s ease-in-out
  
  .container
    padding: 0 15px
  
  .navbar-brand
    color: white
    font:
      family: $montserrat
    transition: all .3s ease-in-out
    
    span
      margin-left: 2px

  .navbar-nav
    font:
      family: $roboto-slab
    text-transform: capitalize
    > li > a
      color: white
      background: none
      &:hover, &:focus
        color: $hover-white
        text-decoration: underline
        background: $opace-color

    > li.active > a
      color: white
      font-weight: 700
      background: none
      &:hover
        color: $hover-white

    > .active > a
      &:hover
        background: none
    
    > .open > a
      color: white
      background: none
      &:focus, &:hover
        color: $hover-white
        background: none

  #logo
    visibility: hidden
    position: absolute
    height: 30px
    width: 30px
    float: left
    border:
      radius: 100%
    overflow: hidden
    margin:
      right: 0px
      top: 10px
    transition: visibiltiy 800 ease-out
    img
      height: 150%
      width: 150%
      margin-left: -10px
  .dropdown-menu
    border-radius: 5px !important
    padding-bottom: 10px
    > li:hover
      background: $opace-color



// *** on scroll navigation bar ***
// ********************************

.navScroll
  height: initial
  background-color: white
  margin-bottom: 0px
  padding:
    top: 0px
    bottom: 0px
  border:
    color: none
  transition: all .3s ease-in-out
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1)
  
  .container
    padding: 0 15px
  
  .navbar-brand
    color: black
    padding:
      left: 60px
    
    span
      color: $bright-blue

  .navbar-nav
    > li > a
      color: black
      background: none
      &:hover, &:focus
        color: $hover-black
        text-decoration: none
        background: rgba(200,200,200, .2)
    
    > li.active > a
      color: black
      font-weight: 700
      background: none
      &:hover
        color: $hover-black

    > .active > a
      &:hover
        background: none
    
    > .open > a
      color: black
      &:focus, &:hover
        color: $hover-black
        background: none
  #logo
    visibility: visible
  .dropdown-menu
    margin-top: 5px !important
    padding-bottom: 10px
    > li:hover
      background: rgba(200,200,200, .2)