// --------- overlay test

.overlay
	width: 100%
	height: 100vh
	background: #fafafa
	overflow: scroll
	position: absolute
	top: 0%
	opacity: 0
	z-index: -1
	transition: opacity .3s ease-in-out, z-index .5s ease-out

.resume
	position: relative
	top: 100%
	transition: top .3s ease-out
	padding: 0px
	

	> div
		background: #fff
		margin-top: 80px
		margin-bottom: 80px
		border: 1px solid #E0E0E0
		font-family: $roboto-slab
		font-size: .75em
		color: $heading-color
		padding-bottom: 10px
		
		.outer-left
			padding-top: 7px

		> h2, h3
			text-align: center
			margin: 5px
		> h2
			font-size: 2em
			margin-top: 20px
		> h3
			font-size: 1.1em
			padding: 0px
			margin-bottom: 20px

		> div
			margin-top: 10px
			margin-bottom: 10px

			p
				font-size: 1.2em

			em
				color: darkgray
				font-size: .8em

			&:nth-child(even)
				padding: 5px
				border-left: 1px solid lightgray

		.desc p
			padding-left: 15px

input[type="checkbox"]
	display: none

	+ label
		position: absolute
		top: 30px
		right: 60px
		padding: 10px
		-webkit-user-select: none
		user-select: none
		transition: color .4s ease-out

		span
			position: absolute
			// background: red
			&::after
				content: $menu-icon
				font-family: "FontAwesome"
				font-size: 1.3em
				cursor: pointer
				speak: none
				font-style: normal
				font-weight: normal
				font-variant: normal
				text-transform: none
				line-height: 1
				-webkit-font-smoothing: antialiased
				position: absolute
				z-index: 3


	&:checked

		~ label span::after
			content: $close-icon

		~ .overlay
			opacity: 1
			z-index: 2
			-webkit-overflow-scrolling: touch

			.container
				top: 0%

// --------------------
